/* Pricing.css */
.pricing-section{
  margin-top: 65px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .card-text h3 {
    font-size: 2rem;
    margin: 0;
  }
  
  .card-text p {
    font-size: 1rem;
    color: #6c757d;
  }
  